# use https://github.com/github/gitignore

# see
# https://github.com/github/gitignore/tree/master/Global
# https://kmyk.github.io/blog/blog/2020/11/08/man-gitignore/

# @todo gitignoreについてチームメンバーと合意を取りましょう

